/* Body Background */
body{
	margin-top: 20px;
	background-color: #d5d9de;
}

/* Text Style */
p{
	color: #656565;
}

/* Bootstrap Container */
.container{
	background-color: white;
	box-shadow: 0 0 5px #9d9d9d;
}

/* Responsive Video */
video{
	width: 100%;
	height: 100%;
}

.controlArea{
	padding: 25px;
	margin-top: 25px;
	margin-bottom: 25px;
}

#playBtn{
	background-color: #000;
	width: 60px;
	height: 60px;
	border-radius: 30px;
	background-image: url(../media/audio_up.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 35px;
}

#playBtn:hover{
	background-color: #2e2f2f;
	cursor: pointer;
}

.videoArea{
	position: relative;
	overflow: hidden;
}

.menuIcon{
	position: absolute;
	cursor: pointer;
	right: 10px;
	top: 10px;
	width: 40px;
	height: 40px;
}

.menu{
	position: absolute;
	right: -405px;
	background-color: rgba(47,47,47,0.95);
	box-shadow: -1px 0 8px rgba(0,0,0,0.6);
	width: 400px;
	height: 100%;
	padding: 70px 0;
}

.menuItems{
	color: #fff;
	margin: 0;
	padding: 0;
	background-color: rgba(255,255,255,0.3);
	border-bottom: 1px solid #a7a7a7;
	cursor: pointer;
}

.menuItems li{
	list-style: none;
	padding: 10px 15px;
	background-color: rgba(255,255,255,0.3);
	border-bottom: 1px solid #a7a7a7;
	cursor: pointer;
}

.menuItems li:hover{
	background-color: rgba(255,255,255,0.4);
}

.menu h5{
	color: #fff;
	padding: 25px 10px;
}